<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/head :: head"></div>
    <title>Albums</title>
</head>
<body>
    <h1>Albums</h1>
    <div id="album-group">
        <ul>
            <!-- view albums -->
            <li th:each="album : ${allAlbums}" th:class="${album.title}">
                <!-- album title and image, and link to details page -->
                <span th:text="${album}"></span>
                <img th:src="${album.imageUrl}" class="image">
                <a th:href = "${'/albums/' + album.id}">Details</a>

               <!-- delete button for each album -->
                <form method="POST" action="/albums/delete">
                    <input type="hidden" th:value="${album.id}" name="albumId">
                    <input type="submit" value="Delete Album">
<!--                    <button>Delete Album</button>-->
                </form>
            </li>
        </ul>
        <!-- add album -->
        <div class="add-details">
            <h2>Add an Album</h2>
            <form action="/albums" method="POST">
                <input type="text" name="albumTitle">Title
                <input type="text" name="albumArtist">Artist
                <input type="number" name="songCount">Song Count
                <input type="number" name="lengthInSec">Album Length (sec)
                <input type="text" name="imageUrl">Image URL
                <input type="submit" value="Add Album">
            </form>
        </div>
    </div>
</body>
</html>