<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album Details</title>
    <link href="/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div id="album-detail">
        <h2 th:text="${album.title}"></h2>
        <img th:src="${album.imageUrl}">
    </div>
    <div id="song-list">
        <ul>
            <li th:each="song : ${album.songs}">
                <span th:text="${song.title}"></span>
<!--                <span th:text="${song.songLength"></span>-->
<!--                <span th:text="${song.trackNumber"></span>-->
            </li>
        </ul>
    </div>

    <div class="add-details">
        <div id="add-album">
            <h2>Add Songs to the Album</h2>
<!--            <form th:action="'/albums/' + ${album.id}" method="POST">-->
                <form method="POST">
                <input type="text" name="title">Title
                <input type="number" name="songLength">Song Length
                <input type="number" name="trackNumber">Track Number
                <input type="submit" value="Add Song">
            </form>
        </div>
    </div>
</body>
</html>